/* Flashcards.css */
.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    text-align: center;
  }
  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc; /* Add a border around the questions */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }  
  